#post-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#post-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  line-height: 84%;
  padding: 30px 0;
}

#post-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}

#post-body p,
#post-body strong,
#post-body li {
  font-family: mulish;
  font-size: 20px;
}

#post-body img {
  padding-top: 10px;
}

#post-meta p{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;  /* Position above the icon */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show the tooltip text when hovering over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* Optional: Style the link icon */
  .tooltip i {
    font-size: 18px;
    color: #333;
  }