#post-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#post-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  line-height: 84%;
  padding: 30px 0;
}

#post-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

#post-body p,
#post-body strong,
#post-body li {
  font-family: mulish;
  font-size: 20px;
}

#post-body img {
  padding-top: 10px;
}

#post-meta p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip i {
  font-size: 18px;
  color: #333;
}

/* MEDIA QUERIES */
/* mobile to small tablet */
@media screen and (min-width: 360px) and (max-width: 600px) {
  #post-title {
    font-size: 25px;
    padding: 15px 0;
  }

  #post-body p,
  #post-body strong,
  #post-body li,
  #post-meta p {
    font-size: 15px;
  }

  #post-meta p {
    flex-direction: column;
  }

  #copy-link {
    padding: 10px;
  }
}

/* tablet and small laptops */
@media screen and (min-width: 601px) and (max-width: 900px) {
  #post-title {
    font-size: 35px;
    padding: 15px 0;
  }

  #post-body p,
  #post-body strong,
  #post-body li,
  #post-meta p {
    font-size: 18px;
  }
}

/* larger monitors */
@media screen and (min-width: 1441px) {
  #post-body,
  #post-meta {
    max-width: 1008px;
    margin: 0 auto;
  }
}
